#logo {
  height: 70px;
  margin-left: 80px;
  position: relative;
  clear: right;
  width: auto;
  height: auto;
}
.navbar {
  background-color: rgb(255, 255, 255);
  font-size: 22px;
  height: auto;
  width: auto;
  position: relative;
  margin: 8px;
}
.navbar-nav {
  width: auto;
  height: auto;
  margin: 20px;
}
.nav-item {
  margin-bottom: 22px;
}
div #school-name {
  font-size: 30px;
  float: left;
  margin-right: auto;
  margin-left: 20px;
  font-family: serif;
  color: rgb(201, 53, 53);
}
.collapse {
  padding: 10px;
}
.card-img-top {
  height: 180px;
  width: 80px;
}
.pathway {
  position: relative;
  margin-top: 50px;
  text-align: center;
  background-color: rgb(15, 241, 230);
  padding: 20px;
}

.highligthed-letter {
  color: #00d084;
}

@media (max-width: 600px) {
  .card-img-top {
    display: none;
  }
  #school-name {
    display: none;
  }
  #nottingham-university {
    width: 70%;
    height: 70%;
  }
  .nottingham-university-text {
    font-size: 140%;
  }
}

/* Schools, Harvard, UBC */
.schools-logo {
  width: 10%;
  height: 10px;
}
#horizontal-line {
  width: 10%;
  margin: 20px auto;
  color: black;
}
.nottingham-university-horizontal-line {
  width: 40%;
  margin: 20px auto;
  color: white;
}
.schools-button {
  margin: 0px auto;
}
.nottingham-university {
  background-color: rgb(2 3 129);
}
.img-fluid {
  margin: 100px auto 20px;
  width: 25%;
  height: 40%;
}
#figure {
  background-color: red;
  transform: rotate3d(0, 1, 0, 180deg);
  color: aliceblue;
}
#ut-features {
  background-image: url("photos/BsuBaK_CYAADXsk.jpg");
}
