#logo {
  height: 70px;
  margin-left: 80px;
  position: relative;
  clear: right;
  width: auto;
  height: auto;
}
.navbar {
  background-color: rgb(255, 255, 255);
  font-size: 22px;
  height: auto;
  width: auto;
  position: relative;
  margin: 8px;
}
.navbar-nav {
  width: auto;
  height: auto;
  margin: 20px;
}
.nav-item {
  margin-bottom: 22px;
}
div #school-name {
  font-size: 30px;
  float: left;
  margin-right: auto;
  margin-left: 20px;
  font-family: serif;
  color: rgb(201, 53, 53);
}
.collapse {
  padding: 10px;
}
.card-img-top {
  height: 180px;
  width: 120px;
}
.container {
  position: relative;
  margin-top: 50px;
  text-align: center;
}

.row {
  background-color: rgb(15, 241, 230);
}

.highligthed-letter {
  color: #00d084;
}

@media (max-width: 600px) {
  .card-img-top {
    display: none;
  }
  #school-name {
    display: none;
  }
}

/* Schools, Harvard, UBC */
.schools {
  text-align: center;
  margin: 30px;
}
.schools-logo {
  height: auto;
  max-width: 100%;
  margin: 10px;
  display: inline-block;
  vertical-align: middle;
}
